@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
:root {
    --primary: #d5e8e2;
    --secondary: ;
    --accent: #1f3a37;
}

.logo {
    width: 50%;
    margin-left: 25%;
}

body {
    
    height: 100vh;
    background-color: var(--primary);
    color: rgb(253, 61, 61);

    
    display: flex;
    justify-content: center;
    align-items: center;

    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#title {
    text-align: center;
    font-family: 'Yeseva One', cursive;
}

#chatbox-container {
   
    width: 90vw;
    height: 90vh;
    background-color: var(--secondary);
    color: #000;
    
    
    margin: 0 auto;
    padding: 1%;
    border-radius: 10px;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(31, 28, 28);
}

#all-messages {
   
    width: 90%;
    height: 70%;
    background-color: #1f3a37;
    color: #d5e8e2;

    
    border-radius: 10px;
    margin: 1%;

   
    overflow-wrap: normal;
    overflow-y: auto;
}

#typing-container {
    
    width: 90%;
    height: 10%;
    background-color: var(--accent);
    color: rgb(255, 255, 255);
   
    border-radius: 10px;
    margin: 1%;
    padding: 1%;

    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    
    width: 80%;
    height: 80%;
    color: #9dc183;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form input {
    width: 80%;
    height: 80%;

    font-size: 1.2em;
    border-radius: 2px;
}

form label {
    font-size: 1.2em;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d5e8e2;
}

#send-btn {
    width: 15%;
    height: 50%;

    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    background-color: rgba(100, 169, 148, 1);
    color: #066344;

    font-family:  'Montserrat', sans-serif;
    font-size: 1.2em;
}

#send-btn:hover {
    background-color: var(--primary);
    box-shadow: 2px 2px 2px #4d4d4d;
}

#send-btn:active {
    transform: scale(0.98);
}

.single-message {
    display: flex;
}

.single-message p {
    margin: 1%;
}

.single-message-username {
    font-weight: 600;
}


