@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: 
    #1f3a37;
    font-family: 'Montserrat', sans-serif;
}

.imag9{
    text-align: center;
    
}

.pg {
    text-align: center;
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 1%;
    line-height: 2.5;
}

#intro {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
}

#num {
    width: 10%;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 5%;
}

#nums {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}


.qb {
    padding: 8px 25px;
    background-color: rgba(100, 169, 148, 1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

.qb:hover {
    background-color: rgba(100, 169, 148, 0.8);
}


  .webgl {
    position: relative;
    top: 0;
    left: 0;
    outline: none;
  }
  
  #canvas {
    display: flex;
    justify-content: center;
  }


li, a, button {
    font-weight: 500;
    font-size: 15px;
    color: #066344;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #d5e8e2;
    margin-bottom: 4%;
}

#canvas {
    margin-bottom: 3%;

}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #1cb60e;
}

button {
    /* margin-left: 20px; */
    padding: 9px 25px;
    background-color: rgba(100, 169, 148, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

button:hover {
    background-color: rgba(100, 169, 148, 0.8);
}

#numInput {
    width: 90%;
    height: 100px;
    margin: 2.5%;
    padding: 20px;
    border: solid;
    display: flex;
}

#input {
    margin-left: 25%;
    width:100px;
    height:100px;
}

#numContainer {
    display: flex;
    justify-content: center;
    font-size: 150%;
}

img {
    width: 50%
}

#subButton {
    position: relative;
    width: 100px;
    top: 5px;

}

#numField {
    position: relative;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    bottom: 2px;
}

.formName {
    color: #e5eeeb;
}

h1 {
    display: flex;
    justify-content: center;
    color: #e5eeeb;
    font-family: 'Yeseva One', cursive;
    font-size: 80px;
}

p {
    color: #bccac6;
    font-size: 15px;
}

#result {
    position: relative;
    top: 70px;
    right: 655px;
    color: #e5eeeb;
}

h3 {
    text-align: center;
    width: 1000px;
    justify-content: center;
    color: #bccac6
}

h5 {
    text-align: center;
    font-size: 40px;
}
.answer {
    display: flex;
    justify-content: center;
}
/* @media(max-width: 960){
    li, a {
        font-size: 14px;
    }
} */